body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: #763176;
    padding: 40px;
  }
  
  input, button {
    padding: 10px;
    margin: 5px;
}
  
  #resultado {
    margin-top: 20px;
  }
  